<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class="main W-full min-h-screen bg-zinc-900  text-white">
        <div class="mx-10 p-9">
            <a class="text-blue-800 text-3xl mb-90 capitalize tracking-tighter"href="/">go back home </a>

            <form action="/edit"method="POST" class="mt-25">
                <input type="text" class="input block px-5 py-2 bg-zinc-500 w-full text-zinc-700 rounded-[3px] mb-5 mt-0 ml-3"name ="prevoiusname" disabled="true" placeholder="previous"  value="<%=filename%>">
                <input type="text" class="input block px-5 py-2 bg-zinc-500 w-full rounded-[3px] mt-0 ml-3  mb-5"name ="newname" placeholder="New name "  >
                <input type="submit"class="input block px-5 py-2 bg-yellow-600  rounded-[10px] mt-0 ml-3" value="update Name ">
            
            </form>
    
            

        </div>
      

        
        


    </div>
    
</body>
</html>